.Cart-Container{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Cart-content{
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow:  0 25px 40px #1687d933;
}

.Header{
    margin: 2%;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Heading{
    font-size: 20px;
    font-weight: 700;
    color: #2F3841;
}
.Action{
    font-size: 14px;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}
.Cart-Items{
    margin:2% 2% 20% 2%;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-box{
    width: 15%;
    text-align: center;
}
.about{
    height: 100%;
}
.title{
    padding-top: 5px;
    line-height: 10px;
    font-size: 32px;
    font-weight: 800;
    color: #202020;
}
.subtitle{
    line-height: 60px;
    font-size: 18px;
    font-weight: 600;
    color: #909090;
}
.counter{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}
.count{
    font-size: 20px;
    font-weight: 900;
    color: #202020;
}

.prices{
    height: 100%;
    text-align: right;
}
.amount{
    padding-top: 20px;
    font-size: 26px;
    font-weight: 800;
    color: #202020;
}
.save{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #0e490a;
    cursor: pointer;
}
.remove{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}
.checkout{
    float:right;
    width: 28%;
    align-items: center;
    margin-right: 5%;
}
.total{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.Subtotal{
    font-size: 22px;
    font-weight: 700;
    color: #202020;
}
.items{
    font-size: 16px;
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}
.total-amount{
    font-size: 36px;
    font-weight: 900;
    color: #202020;
}
.button{
    margin-top: 5px;
    width: 100%;
    height: 40px;
    border: none;
    background: #0e490a;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
}