.confirm-order-container{
    margin: 3%;
    padding: 0;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.confirm-order-content{
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    align-items: center;
    width: 70%;
    height: 50%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow:  0 25px 40px #1687d933;
    padding-top: 3%;
}
.Button{
    width: 13rem;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #063A08;
    padding: 8px 10% 8px 10%;
    border-radius: 2px;
    border: none;
    margin-top: 20%;
    cursor: pointer;
}