/*----------------------*/
/*--- Not found error ---*/
/*----------------------*/
#not-found_container {
    padding: 8% 0 8% 0;
}

#not-found-message {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: #063A08;
    margin-bottom: 3%;
}

#frontpage-button {
    margin-left: auto;
    background-color: #063A08;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
}


/*----------------------*/
/*--- DB empty error ---*/
/*----------------------*/
#empty_db-error_container {
    padding: 3% 0 3% 0;
    width: 100%;
    align-self: center;
}

#empty-db-message {
    grid-column: 1;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    color: #0e490a;
    padding-top: 1%;
}

#permission-denied {
    font-size: 16px;
    margin: 15% 0 15% 0;
    color: #1d0f06;
}