* {
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

/*BestSellers, OurStores, Testimonials*/
h2 {
    color: #063a08;
    margin-bottom: 2%;
    font-size: 48px;
    text-align: center;
}

/*Footer*/
h3 {
    font-size: 38px;
    color: #ffffff;
}

/*Footer*/
h4 {
    color: #ffffff;
    font-size: 22px;
}

/*NavBar*/
h5{
    color: #ffffff;
    font-size: 12px;
}

/*Footer, OurStores, Testimonials*/
p {
    color: #1d0f06;
    font-size: 24px;
    line-height: 1.2;
    margin-top: 2%;
}

/*Footer*/
small {
    font-size: 16px;
}