.wrapper{
    margin-top: 4%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    position: relative;
    min-height:calc(100vh - 23rem);
}
#content{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #063A08;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-top: 10%;
    margin-bottom: 10%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#mainSite {
    background-color: #063A08;
    color: #ffffff;
    padding: 0.5rem 0.5rem;
    border-radius: 6px;
    border-style: none;
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
    min-width: 1rem;
    width: 10rem;
    margin: 2%;
}

.button:hover {
    background-color: #0e490a;
}