/*The box*/
#create-product-section {
    margin: 4.5% 10% 7% 10%;
    color: #1d0f06;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: revert;
    position: relative;
    padding-top: 3%;
    text-align: center;
    min-height:calc(70vh - 23rem);
}

/*Form of the sign up sheet*/
#product-details {
    padding: 2% 30% 3% 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field {
    margin-bottom: 5px;
}