#order-history {
    display: flex;
    flex-flow: column nowrap;
}
.orders_container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
    margin-top: 2rem;
    padding: 2%;
    border-style: solid;
}
.ordered-products {
    margin-left: auto;
    width: 60%;
}
.ordered-items-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3%;
}
.order-title_container {
    width: 20%;
    padding-right: 10%;
    padding-left: 3%;
}
.order-total-price_container {
    margin-top: 5%;
    display: flex;
    justify-content: flex-end;
}
.total-price {
    margin-left: 5%;
    color: #1d0f06;
}
.order-font {
    font-size: 20px;
    color: #1d0f06;
}
