#user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3% 10% 5% 10%;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    padding: 2%;
}

#user-header {
    font-size: 48px;
}

#signout-button {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #063A08;
    padding: 20px 2% 20px 2%;
    border-radius: 2px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}

#your-orders-button {
    font-size: 18px;
    font-family: serif;
    word-spacing: 1px;
    background-color: #ffffff;
    color: #063A08;
    border-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

#your-orders-button:hover {
    text-decoration-line: underline;
}

#order-history {
    display: flex;
    justify-content: center;
    margin: 5% 15% 5% 15%;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    padding: 2%;
}