/* Stylesheet for create account page */

/*----------------------*/
/*--- Create account ---*/
/*----------------------*/


/*Section title | Create Account header*/
h2 {
    color: #063A08;
    font-size: 40px;
}

/*The box*/
#create-account-section {
    margin: 4.5% 10% 7% 10%;
    color: #1d0f06;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: revert;
    position: relative;
    padding-top: 3%;
    text-align: center;
    min-height:calc(70vh - 23rem);
}

/*Form of the sign up sheet*/
#sign-up-sheet {
    padding: 2% 30% 3% 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-up-sheet input {
    margin-bottom: 5px;
}

/*Text fields*/
.input-field {
    font-size: 16px;
    color: #1d0f06;
    background-color: #E9E9E9;
    padding: 2px 0 2px 1%;
    border: none;
    border-radius: 2px;
    width: 20rem;
}

/*Create button*/
#submit-button {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #063A08;
    padding: 8px 10% 8px 10%;
    border-radius: 2px;
    border: none;
    margin-top: 5%;
    cursor: pointer;
}

/*Change between sign-in and sign-up button*/

#change-page-button {
    font-size: 18px;
    font-family: serif;
    word-spacing: 1px;
    background-color: #ffffff;
    color: #063A08;
    border-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}

/*TODO: Create the site more responsive for mobile-devices*/

