/*FOOTER STYLESHEET*/

/*Text*/
footer h4 {
    text-decoration: none;
    color: #ffffff;
    margin-top: 0.5em;
    cursor: pointer;
    padding: 0.75em 2em;
}

footer h3 {

    cursor: default;
}

#notRealPage {
    color: #E9E9E9;
    text-align: right;
    margin-right: 1.5rem;
    margin-top: 3rem;

}

footer img {
    height: 60px;
    margin: 3%;
}

/* Whole bottom navigation*/

footer {
    background-color: #052b00;
    bottom: 0;
    width: 100%;
    height: fit-content;
    position: relative;
}

.bottom-nav {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Column "Shop"*/
#footer-shop {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2em 0.2em 0 4em;
}


#footer-shop button:hover {
    background-color: #063A08;
    border-radius: 6px;
}

/*Column "About us"*/
#footer-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2em 0 0 4em;
}

#footer-info button:hover {
    background-color: #063A08;
    border-radius: 6px;
}

/*Column "Partners"*/
#footer-partners {
    flex-flow: row nowrap;
    align-items: center;
    margin: 2em 0 0.2em 4em;
}

.partnerImg {
    cursor: pointer;
    margin-bottom: 0.5em;
}

@media only screen and (max-width: 1028px) {
    .bottom-nav {
        flex-direction: column;
        align-items: center;
    }

    #footer-shop, #footer-info, #footer-partners {
        margin: 2em 0 2em 0;
    }

}


