.dropdown{
    display: none;
    height: inherit;
    cursor: pointer;
}

.dropbtn{
    height: 1.5rem;
    margin-top: 15%;
    border: none;
    background-color: #063a08;
}

.dropdown-content{
    display: none;
}

@media screen and (max-width: 1028px){

    .dropdown{
        display: inherit;
    }
}