.searchBar {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;;
}

.inputField {
    font-size: 16px;
    color: #1d0f06;
    background-color: #E9E9E9;
    padding: 2px 0 2px 1%;
    border: none;
    border-radius: 2px;
    width: 12rem;
    max-height: 40px;
    justify-content: center;
    align-self: flex-start;
    margin-top: 3%;
}

.search-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

.listBar-wrap {
    list-style: none;
    display: block;
}

.listBar-content {
    box-sizing: border-box;
}

.icon-caption {
    color: white;
    font-size: 12px;
    margin-top: 5%;
    cursor: pointer;
}

.search-button img {
    height: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1028px) {
    .inputField {
        width: 10rem;
    }
}