/* Stylesheet for top-navigation, to avoid code-duplications.*/


/*--------------------*/
/*--- body content ---*/
/*--------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/*---------------*/
/*--- top nav ---*/
/*---------------*/

/* Navigation  */
/*TODO: Navigation doesn't stick */
.top-nav {
    position: sticky;
    list-style: none;
    background-color: #063A08;
    display: flex;
    align-items: center;
    min-height: 5rem;
    padding: 0 2% 0 2%;
}

#mobile-view-wrap{
    display: inherit;
}

/*Urban Infusion Logo*/
#logo-image {
    height: 5rem;
    display: inherit;
}


/* Container for list menus */
.menu-bar {
    width: fit-content;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 2%;

}

.menu-bar * {
    padding-left: 0.8em;
    padding-right: 0.8em;
    text-decoration: none;
}
.menu-bar *:hover {
    background-color: #0e490a;
    color: #ffffff;
    min-height: 4.5rem;
    height: inherit;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.list-menu {
    display: flex;
    flex-flow: row nowrap;
}


/* Container for icons */
.icon-bar {
    width: auto;
    height: inherit;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.icon-bar * {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.icon-bar img {
    height: 1.5rem;
}

.icon-selection {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 3% 0 3%;
}

.icon-caption {
    margin-top: 5%;
    text-align: center;
}


/*---------------*/
/*--- top nav ---*/
/*---  mobile ---*/
/*---------------*/

@media only screen and (max-width: 1028px){


    .top-nav {
        min-height: 10rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    #logo-image {
        height: 4.5rem;

    }

    #mobile-view-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-bar {
        margin-top: 10px;
        margin-left: 0;
    }

    .menu-bar *{
        padding-left: 4px;
        padding-right: 4px;
    }

    .menu-header{
        border: 1px solid #ffffff;
        border-radius: 4px;
    }

    .icon-bar {
        margin-bottom: 4px;
    }

    .icon-caption {
        display: none;
    }
}

