.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 2%;
    text-align: center;
    text-decoration: none;

}

#product-img{
    margin-top: 25px;
    max-width: 200px;
    align-content: center;
}

.product-card-price {
    color: grey;
    font-size: 22px;
    text-decoration: none;

}

.product-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #063a08;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.product-card button:hover {
    opacity: 0.7;
}

.product-card-title{
    text-decoration: none;
    color: black;
}
.product-card-link{
    text-decoration: none;
}