/* Body section */
main {
    display: grid;
    grid-template-columns: [filter-bar]0.7fr [body]3fr [white-space]0.1fr;
    grid-gap: 5%;
    grid-template-areas:
        "filter-bar body white-space";
    min-height: calc(100vh - 23rem);
}

#products-catalog {
    display: flex;
    flex-flow: column nowrap;
}

#product-filter-bar {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 5px;
    padding: 5%;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    margin-top: 21%;
    min-height: 30%;

}

#tea-filter {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin-bottom: 10%;
}

.filter-header {
    color: #1d0f06;
    font-size: 22px;
}

#merch-filter {
    list-style: none;
}

#products_container {
    display: flex;
    margin: 3% 0 5% 0;
    flex-flow: row wrap;
    justify-content: flex-start;
}

/** Container for each product card in catalog section
    PS! Don't put any visual styling here, use separate ProductCard.css instead**/
.product-card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 5%;
}

.product-card img {
    border-radius: 4px;
}

