#pp-details {
    display: flex;
    justify-content: flex-start;
    margin: 3% 10% 5% 10%;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
}

#product-details_container {
    display: flex;
    align-items: flex-start;
    flex-flow: column wrap;
    width: 100%;
    margin-left: 5%;
}

#pp-image {
    max-width: 25rem;
}

#pp-title {
    font-size: 48px;
    margin-bottom: 2%;
}

#pp-price {
    font-size: 38px;
    align-self: flex-end;
    margin-top: auto;
    order: 1;
    color: #1d0f06;
}

#pp-summary {
    color: #1d0f06;
}


#buy-options_container {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-between;
    order: 2;
}

.pp-count-btn {
    background-color: #063A08;
    color: #E9E9E9;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    font-size: 32px;
}

.pp-buy-button {
    margin-left: auto;
    background-color: #063A08;
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    width: 10rem;
    height: 3rem;
}

.pp-counter {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
}

.admin-product-buttons {
    display: flex;
    justify-content: flex-end;
    order: 1;
    margin-top: 1%;
    margin-bottom: auto;
}

