/** Container for the whole best sellers section **/
.best-sellers {
    display: flex;
    justify-content: center;
    margin-top: 12%;
    width: 100%;
}

/** Container for each product card in best seller section **/
.product-card {
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

/** Container for the best sellers box, not including header **/
#featured-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/** Container for the best sellers box, including cards and header **/
#best-sellers-box {
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 20px;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
}

/* Best sellers buy-button */
.card-shop-button {
    display: flex;
    color: #ffffff;
    background-color: #063a08;
    position: absolute;
    opacity: 0;
    bottom: 50%;
    padding: 0.7rem;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.card-shop-button:hover {
    visibility: visible;
    background-color: #0e490a;
    color: #ffffff;
    padding: 0.7rem;
}

.product-card:hover {
    opacity: 0.5;
    cursor: pointer;
}

.product-card:hover .card-shop-button {
    opacity: 1;
}
