.hero-section {
    height: 40vw;
    background-image: url("../../resources/img/hero_section_cropped.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;
}

.hero-button {
    left: 75%;
    margin: 27% 19% 0 0;
    background-color: #063a08;
    border: 0;
    color: #ffffff;
    padding: 0.9375rem 1.875rem;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    position: relative;
}

.hero-button:hover {
    background-color: #0e490a;
    /*TODO: Look at the border on hero-button later*/
}

@media only screen and (max-width: 1028px) {
    .hero-section {
        background-attachment: initial;
        height: 80vw;
    }

    .hero-button {
        width: 190px;
        position: static;
        margin: 55% 0 0 48%;
    }
}