.our-stores-section {
    display: flex;
    flex-direction: row;
    width: 75%;
    border-radius: 20px;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
    justify-content: center;
    margin: 3% 0 10% 7%;
}

.our-stores-wrapper {
    display: flex;
    min-height: 100%;
    justify-content: center;
    flex-flow: row wrap;
}

.our-stores-button {
    background-color: #063A08;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 6px;
    border-style: none;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    min-width: 1rem;
    width: 10rem;
    height: 2.5rem;
    margin: 2% 15px;
}

#maps-window {
    margin-top: 4%;
    max-width: 100%;
}

.our-stores-button:hover {
    background-color: #0e490a;
}

.buttons-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 60%;
}

.text-wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 3%;
}

