#testimonials_wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    margin: 12% 0 5% 0;
    min-height: 100%;
}

#test-header {
    margin-bottom: 5%;
}

.testcard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 16px;
    padding: 5%;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 0 5% 10%;

}

.testcard-middle {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    align-items: center;
    border-radius: 16px;
    padding: 5%;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0 10% 5% 0;

}

.testcard-thumb {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.testcard-thumb-middle {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 250px;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.client-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-name, .client-name-middle {
    position: absolute;
    align-self: flex-end;
    margin: 2% 2% 1% 2%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 5px 20px;
    background: #ffffff;
    font-size: 20px;
    opacity: 80%;

}

.testcard-body {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: auto;
    padding-top: 50px;
    margin-left: 2%;
    padding-bottom: 60px;
}

@media only screen and (max-width: 1028px) {
    .testcard, .testcard-middle{
        width: 80%;
        margin: 0 5% 5% 5%;
    }

    .client-name, .client-name-middle{
        opacity: 100%;
        background: none;
    }

    .client-name{
        margin: 2% -5% -10% 2%;
    }

    .client-name-middle{
        margin: 2% 2% -10% -5%;
    }

    .review{
        padding: 2%;
    }


}